/*menu sidebar*/
td.nav li {
	background:url("images/next.png") no-repeat scroll 5px 10px transparent;
	border-bottom:1px dotted #999999;
	list-style-type:none;
	margin:0;
	padding:5px 20px;
}

td.nav li:hover {
	background-color: #fff;
}

	td.nav li a:hover {
		text-decoration: none;
	}
	td.nav li a:link, td.nav li a:visited {
		color: #4F4E57;
	}
	td.nav li.active {
		color: #f03030;
	}

td.nav li.active li {
	background-color: transparent;
	background-image: none;
	list-style-position: inside;
	list-style-type: square;
	padding: 5px 0;
}

td.nav {width: 15%;}

table.resultshead {
	border-top: 0;
	border-bottom:3px solid #CCCCCC;
	border-collapse:separate;
	clear:both;
	width:100%;
}

/*head*/
font.small {font-size: 12px;}

td.title {
	height: 40px;
	line-height: 15px !important;
	padding: 3px;
	vertical-align: middle;
}

/*.library-info {margin: 15px 20px 30px 0;}*/

.library-info td.title {
	height: auto;
	color: #ccc;
}

/*top menu*/
td.tab2, td.tab1 {
	padding: 7px 20px;
}

/*search*/
legend.collapsible {
  color: #4C83AF;
}

/*footer*/
.footer {
	color: #999;
	font-size: 0.8em;
}

/*content*/
hr {
	border: 1px solid #ccc;
}

font.primary, .primary td {
	line-height: 1.5em;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}

table.resultshead th {
	font-size: 18px;
}



td.primary {
	border-bottom: 1px dotted #ccc;
	border-width: 0 0 1px;
}

th {
	vertical-align: middle;
}

/*form*/
select {
	border: 1px solid #8B969F;
	padding: 2px;
}

input, textarea {
	border: 1px solid #8B969F;
	margin: 3px;
	padding: 3px;
}

input:focus, textarea:focus {
	background-color: #FFFFDF;
}

input.button, input.navbutton {
	background-color: #EF4A4A;
	border: 1px solid #AF1515;
	cursor: pointer;
	font-size: 1em;
	color: #fff;
	font-weight: bold;
	padding: 1px 5px;
}

input.button:hover, input.navbutton:hover {
	background-color: #FF5F5F;
}


/* new styles - sf */

#utn{
	margin-left: 15px;
}


#info {
	margin-top: 15px;
	margin-bottom: 15px;
	float:right;
	margin-right: 15px;
}

table.primary {
	background-color: #4f4e57;
	border-collapse: collapse;
	border: 0;
}

.header{
	display: flex;
    align-items: center;
}

.footer{
	background-color: #529228;
	padding: 20px 0;
}

.footer a{
	text-decoration: none;
    border-bottom:1px dotted #FFF;
    color: #FFF;
}

.footer span{
	color:#fff;
	display: block;
	text-align: center;
	font-size: 19px;
}


/* tabs */
.nav-tabs {
	padding-left: 1px;
	background-color: #529228;
}

.nav-tabs > li > a {
	border: 1px solid #fff;
	position: relative;
	top: 2px;
	color: #555;
	background-color: #fff;
}

.nav-tabs > li.active > a {
	border-top: 4px solid #333;
	background-color: #f5f5f5;
	top: 0;
	pointer-events: none;
}

.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	border-top: 4px solid #4cc8f1;
}
