
/*head*/
font.small {font-size: 12px;}

td.title {
	height: 40px;
	line-height: 15px !important;
	padding: 3px;
	vertical-align: middle;
}

/*.library-info {margin: 15px 20px 30px 0;}*/

.library-info td.title {
	height: auto;
	color: #ccc;
}

/*top menu*/
td.tab2, td.tab1 {
	padding: 7px 20px;
}

/*search*/
legend.collapsible {
  color: #4C83AF;
}

/*footer*/
.footer {
    /*margin-top: 20px; */
  background-color: #565656;
  /*padding: 20px 0;
  width:100%;*/
  position: absolute;
  bottom: 0;
	color: #999;
	font-size: 0.8em;
}

/*content*/
hr {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
  margin-left: 0px;
}

font.primary, .primary td {
	line-height: 1.5em;
}

/*h1 {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}*/

table.resultshead th {
	font-size: 18px;
}

td.primary {
	/*border-bottom: 1px dotted #ccc;
	border-width: 0 0 1px;*/
}

th {
	vertical-align: middle;
  font-family: Roboto;
}

/*form*/
select {
	border: 1px solid #8B969F;
	padding: 2px;
}

input, textarea {
	border: 1px solid #8B969F;
	/*margin: 3px;*/
	padding: 3px;
}

input:focus, textarea:focus {
	background-color: #FFFFDF;
}

input.button, input.navbutton {
	background-color: #EF4A4A;
	border: 1px solid #AF1515;
	cursor: pointer;
	font-size: 1em;
	color: #fff;
	font-weight: bold;
	padding: 1px 5px;
}

input.button:hover, input.navbutton:hover {
	background-color: #FF5F5F;
}


/* new styles - sf */

#utn{
	margin-left: 15px;
}


#info {
	margin-top: 15px;
	margin-bottom: 15px;
	float:right;
	margin-right: 15px;
}

table.primary {
	/*background-color: #4f4e57;*/
	/*border-collapse: collapse;
	border: 0;*/
}

.footer a{
	text-decoration: none;
    border-bottom:1px dotted #FFF;
    color: #FFF;
}

.footer span{
	color:#fff;
	display: block;
	text-align: center;
	font-size: 19px;
}

/*top content*/
/* Forms */

.inner-bg {
    padding: 100px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #7b8b98;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #4aaf51;
}


/* Login */

input[type="user"], 
input[type="password"]/*,
textarea, 
textarea.form-control*/{
	width: 100%;
	height: 35px;
    margin: 0;
    vertical-align: middle;
    background: #f8f8f8;
    /*border: 3px solid #ddd;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="user"]:focus, 
input[type="password"]:focus, 
/*textarea:focus, 
textarea.form-control:focus*/ {
	outline: 0;
	background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }




#btnsalir{
	cursor:hand;
}

#btnlogin{
	width: 100%;
	/*height: 40px;*/
    margin: 0;
    padding: 0 5px;
    vertical-align: middle;
    background: #286090;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #4aaf51; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #4aaf51; color: #fff; }

/* Nav Tabs */

.nav-tabs { 
	border-bottom: 2px solid #DDD; }
    
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
	border-width: 0; }
    
.nav-tabs > li > a { 
	border: none; color: #666; }
        
.nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus { 
	border: none; 
	color: #fff !important; 
	background: transparent; }
        
.nav-tabs > li > a::after { 
 	content: ""; 
 	background: #4285F4; 
 	height: 2px; position: 
 	absolute; width: 100%; 
 	left: 0px; bottom: -1px; 
 	transition: all 250ms ease 0s; 
 	transform: scale(0); }
    
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
 	transform: scale(1); }

.tab-nav > li > a::after {
	background: #21527d none repeat scroll 0% 0%; color: #fff; }

.tab-pane { 
	padding: 15px 0; }

.tab-content{
	padding:20px}

/*
.card {
	background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

body{ 
	background: #EDECEC; padding:50px}
*/

/* Left tabs */

.nav-tabs-dropdown {
  display: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-tabs-dropdown:before {
  content: "\e114";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: 30px;
}

@media screen and (min-width: 769px) {
  #nav-tabs-wrapper {
    display: block!important;
    /*height: 100%;*/
    padding: 20;
    /*position: relative;
    display:table-cell;*/
  }

}
@media screen and (max-width: 768px) {
    .nav-tabs-dropdown {
        display: block;
    }
    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }

   .nav-tabs-horizontal {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
   }
    .nav-tabs-horizontal  > li {
        float: none;
    }
    .nav-tabs-horizontal  > li + li {
        margin-left: 2px;
    }
    .nav-tabs-horizontal > li,
    .nav-tabs-horizontal > li > a {
        background: transparent;
        width: 100%;
    } 
    .nav-tabs-horizontal  > li > a {
        border-radius: 4px;
    }
    .nav-tabs-horizontal  > li.active > a,
    .nav-tabs-horizontal  > li.active > a:hover,
    .nav-tabs-horizontal  > li.active > a:focus {
        color: #ffffff;
        background-color: #428bca;
    }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #1997c6;
}

.btn-primary {
  background-color: #1997c6;
}

a {
  color: #1997c6;
  font-family: Roboto;
}

.well{
	border-radius: 0px;
	margin-bottom: 0px;
}

.borderwell{
	border-radius: 4px;
	margin-top: 20px;
}


#nav-tabs-wrapper-home{
    	height: 1560px;
    }

#advsch-panelint{
	padding: 10px 50px;
}

#advsch{
	margin-top: 20px
}

.fondo {
	/*height: 114px;*/
	background: url(images/app-01.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	overflow-y:hidden;
	display: flex;
    align-items: center;
}

.header {
  height: 114px;
  float: none;
  margin: 0 auto;
  max-width: 1340px;
  width: 100%;
  display: flex;
  align-items: center;
}

.table {
	/*width: 60%;*/
	margin-top: 30px;
  font-size: 15px;
}

.table80 {
	width: 80%;
}

.nomargin{
	margin-top: 0%;
}

.nomarginbottom{
	margin-bottom: 0px;
}

.margin30{
	margin-top: 30px;
}

.rowform{
	width: 50%;
	margin-top: 30px;
}

.nopadding{
	padding: 0px;
}

.nowidth {
	width: 269px;
}

.bottomalign {
	vertical-align: bottom;
}

.insidepanel {
	margin-top: 15px;
}

/*td.table.form-required {
	background: url(../images/required-star.png) no-repeat; 
	background-color: #ffffff;
}*/

#ImprimirSalidas {
	padding: 4px 9px;
	float: right;
	position: relative;
    right: 10;
    bottom: 10;
}

#description {
	margin-top: 7px;
}

#amount {
	margin-top: 7px;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 25px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#homebody { 
    background: url(images/app-01.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	overflow-y:hidden;
}

.navhome {
  margin-right: 5%;
	background: none;
	text-transform: uppercase;
	font-family: Roboto;
	font-size: 15px;
	border-bottom: 0px;
}

.navhome > li > a {
	border: none; color: #fff;
}

.navhome > li.active > a, .navhome > li > a:hover { 
	color: #fff !important; 
}

.navhome > li.active > a, .navhome > li.active > a:focus, .navhome > li.active > a:hover { 
	background: transparent; }

.nav-link {
	padding-right: .5rem;
	padding-left: .5rem;
}

.navhome > li > a::after {  
 	background: #fff; 
 }

#titulo {
	font-family: Cabin;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: 15%;
	line-height: 0.8;
}

h3 {
  font-family: Roboto;
}

.content {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.btn-iniciar{
    background: none;
    padding: 12px 22px;
    margin-top: 40px;
    border-color: #fff;
    font-size: 17px;
}
.btn-inciar.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-inciar.outline:hover, .btn-iniciar.outline:focus, .btn-iniciar.outline:active, .btn-iniciar.outline.active, .open > .dropdown-toggle.btn-iniciar {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-iniciar.outline:active, .btn-iniciar.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.carousel .item {
  padding-bottom: 56.25%;
  background-size: cover;
}

.carousel.vertical .carousel-inner > .item {
  -webkit-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel.vertical .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-perspective: 1000;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel.vertical .carousel-inner > .item.next,
  .carousel.vertical .carousel-inner > .item.active.right {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .carousel.vertical .carousel-inner > .item.prev,
  .carousel.vertical .carousel-inner > .item.active.left {
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .carousel.vertical .carousel-inner > .item.next.left,
  .carousel.vertical .carousel-inner > .item.prev.right,
  .carousel.vertical .carousel-inner > .item.active {
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel.vertical .carousel-inner > .active {
  top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  top: 0;
  height: 100%;
  width: 100%;
}
.carousel.vertical .carousel-inner > .next {
  left: 0;
  top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
  left: 0;
  top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
  top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
  left: 0;
  top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
  left: 0;
  top: 100%;
}
.carousel.vertical .carousel-indicators,
.carousel-indicators-vertical {
  right: 20px;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: auto;
  left: auto;
  width: auto;
  margin: 0;
  padding: 0;
}
.carousel.vertical .carousel-indicators li,
.carousel-indicators-vertical li {
  display: block;
  margin: 5px 0;
}
.row-centered{
  margin-right: auto;
  margin-left: auto;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.Absolute-Center {
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

div#main-content { display: none; }

p.m_title {
    text-transform: capitalize;
}

/*Panel de usuario*/
.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

#user-panel-footer {
	padding-bottom: 45px;
}

div.circle-avatar{
    /* make it responsive */
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;
    
    /* make it a cirkle */
    border-radius:50%;
    
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    
    /* it makes the clue thing, takes smaller dimention to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }

div.noresponsive{
	height: 50px;
	width: 50px;
	max-width: none;
}

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: none; 
}

.panel-primary>.panel-heading {
  background-color: #1997c6;
}

#modalBodyHome{
  overflow: scroll;
}

font-family: 'Roboto', sans-serif;
font-family: 'Cabin', sans-serif;